@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
body{
    margin: 0;
}
.sc-container {
    color: #fff;
    width: 100%;
    height: 100vh;
    background: #1F1E2D;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.sc-container img {
    width: 100px;
    height: 100px;
    margin: 2rem 0;
}
p{
    font-family: 'Poppins';
}
.sc-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Poppins';
}

.sc-container .sc-btn {
    font-family: 'Poppins';
    background-color: #008563;
    color: white;
    padding: 1rem 3rem;
    border-radius: 100vh;
    text-decoration: none;
}